body {
  height: 100vh;
  width: 100vw;
}

.App {
  margin: 0;
  text-align: center;
  background-color: #000000;
  color: #f0f;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
}

.App.idle, .App.paused, .App.error {
  background: url(poster-notext.png) no-repeat bottom;
  background-color: #000000;
  background-size: 100% auto;
}

@media (max-aspect-ratio: 16/9) {
  .App {
    background-size: contain;
  }
}

.invisible-menu-opener {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

div.state-overlay {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.loading div.state-overlay, .stalled div.state-overlay {
  visibility: visible;
}

.loading div.state-overlay {
  height: 40vh;
}

.loading div.state-overlay .waiting-icon {
  width: 100%; 
  height: 25vh;
  filter: drop-shadow(0 0 10px rgb(255, 0, 72));
}

.stalled div.state-overlay {
  height: 10vh;
}

.stalled div.state-overlay .waiting-icon {
  display: block;
  height: 5vh;
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
  margin: 1rem;
}

.idle .ovenplayer, .error .ovenplayer {
  visibility: hidden;
}

.error-overlay {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30vh;
  background: rgba(25, 25, 25, 0.9);
}

.error .error-overlay {
  visibility: visible;
}

.ovenplayer {
  height: 100vh;
  width: 100%;
}

.paused .ovenplayer {
  visibility: hidden;
}

.op-message-box .op-message-container, .op-spinner-container {
  top: 5% !important;
}
.op-live-badge {
  display: none !important;
}
.op-setting-item[op-panel-type=speed] {
  display: none !important;
}

/* .stream-selector-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: .5px solid #999;
  border-radius: 50px;
  padding: 50px;
  background-color: #666;
  box-shadow: 0px 0px 50px 5px #999;
} */

.op-ui {
  visibility: hidden;
}

.error .op-ui {
  visibility: visible;
}