body {
  height: 100vh;
  width: 100vw;
}

.App {
  margin: 0;
  text-align: center;
  background-color: #000000;
  color: #f0f;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.ovenplayer {
  background: url(poster.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  height: 100vh;
  width: 100%;
}

@media (max-aspect-ratio: 16/9) {
  .OvenPlayer {
    background-size: contain;
  }
}

.op-message-box .op-message-container, .op-spinner-container {
  top: 5% !important;
}
.op-live-badge {
  display: none !important;
}
.op-setting-item[op-panel-type=speed] {
  display: none !important;
}

/* .stream-selector-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: .5px solid #999;
  border-radius: 50px;
  padding: 50px;
  background-color: #666;
  box-shadow: 0px 0px 50px 5px #999;
} */